Repository cpsoinos/ficus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

fix(web): remove link for last breadcrumb, fix when no noteid param
  apps/web/src/lib/components/app-header.svelte
  apps/web/src/routes/(protected)/+layout.svelte
  apps/web/src/routes/(protected)/notes/+page.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix(web): remove link for last breadcrumb, fix when no noteid param (#31)
  apps/web/src/lib/components/app-header.svelte
  apps/web/src/routes/(protected)/+layout.svelte
  apps/web/src/routes/(protected)/notes/+page.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

allow uploading and viewing a pdf note (via link)
  apps/web/src/lib/components/note-form.client.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/+page.svelte
  services/notes/src/lib/attachments/app.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat: allow uploading and viewing a pdf note (via link) (#32)
  apps/web/src/lib/components/note-form.client.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/+page.svelte
  services/notes/src/lib/attachments/app.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

create queue and kv
  services/notes/worker-configuration.d.ts
  services/notes/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat(notes): use queues and kv for autosaving a note
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+server.ts
  apps/web/src/routes/(protected)/notes/new/+page.server.ts
  services/notes/src/index.ts
  services/notes/src/lib/notes/app.ts
  services/notes/src/lib/notes/autosaveNote.ts
  services/notes/src/lib/queueConsumer.ts
  services/notes/worker-configuration.d.ts
  services/notes/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

--wip-- [skip ci]
  services/notes/src/lib/notes/findNoteById.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

add and configure Senry
  apps/web/package.json
  apps/web/src/hooks.client.ts
  apps/web/src/hooks.server.ts
  apps/web/src/lib/server/db/index.ts
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

add tail worker for sentry integration
  services/notes/wrangler.toml
Due: none

add tail worker for sentry ingegration to rate limiter
  packages/rate-limiter/wrangler.toml
Due: none

don't load sentry in dev
  apps/web/src/hooks.client.ts
  apps/web/src/hooks.server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat: sentry (#33)
  apps/web/package.json
  apps/web/src/hooks.client.ts
  apps/web/src/hooks.server.ts
  apps/web/src/lib/server/db/index.ts
  apps/web/vite.config.ts
  packages/rate-limiter/wrangler.toml
  pnpm-lock.yaml
  services/notes/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

update wrangler to 4.3.0 and sveltekit adapter cloudflare to 6
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update sveltekit
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

remove @cloudflare/worker-types as they're now generated at runtime by wrangler
  apps/web/package.json
  apps/web/src/worker-configuration.d.ts
  apps/web/tsconfig.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/eslint-config/src/configs/base.mjs
  packages/rate-limiter/package.json
  packages/rate-limiter/tsconfig.json
  packages/rate-limiter/worker-configuration.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/notes/package.json
  services/notes/tsconfig.json
  services/notes/worker-configuration.d.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

chore: update to Wrangler 4 (#34)
  apps/web/package.json
  apps/web/src/worker-configuration.d.ts
  apps/web/tsconfig.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/eslint-config/src/configs/base.mjs
  packages/rate-limiter/package.json
  packages/rate-limiter/tsconfig.json
  packages/rate-limiter/worker-configuration.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/notes/package.json
  services/notes/tsconfig.json
  services/notes/worker-configuration.d.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

upgrade drizzle versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

add script to 'fix' cloudflare generated types since drizzle orm includes @cloudflare/workers-types
  apps/web/package.json
  apps/web/scripts/fix-cf-env-types.mjs
  apps/web/src/worker-configuration.d.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

add script to give correct types to bindings and fix namespace overrides
  apps/web/package.json
  apps/web/scripts/fix-cf-env-types.mjs
  apps/web/src/worker-configuration.d.ts
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

rerun type gen
  packages/rate-limiter/worker-configuration.d.ts
  services/notes/worker-configuration.d.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix(web): Fix cloudflare env typings broken after new wrangler runtime type generation (#35)
  apps/web/package.json
  apps/web/scripts/fix-cf-env-types.mjs
  apps/web/src/worker-configuration.d.ts
  packages/rate-limiter/worker-configuration.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/notes/worker-configuration.d.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

create new barebones service for markdown rendering
  pnpm-lock.yaml
  services/markdown/.gitignore
  services/markdown/eslint.config.mjs
  services/markdown/package.json
  services/markdown/src/index.ts
  services/markdown/test/index.spec.ts
  services/markdown/test/tsconfig.json
  services/markdown/tsconfig.json
  services/markdown/vitest.config.mts
  services/markdown/worker-configuration.d.ts
  services/markdown/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

use 'using' to dispose of highlighter instance
  services/markdown/src/render.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

add rehypeSanitize, remarkFrontmatter, remarkGfm
  services/markdown/src/render.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

add tests and fix validateThemes
  services/markdown/package.json
  services/markdown/src/code/extract-code-languages.test.ts
  services/markdown/src/code/themes.test.ts
  services/markdown/src/code/themes.ts
  services/markdown/test/index.spec.ts
  services/markdown/test/tsconfig.json
  services/markdown/vitest.config.mts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

add tests
  services/markdown/src/code/load-languages.test.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

cleanup: remove unused remark and rehype deps from web
  apps/web/package.json
  apps/web/src/lib/components/note-form.client.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/worker-configuration.d.ts
  apps/web/wrangler.toml
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

update compatibility date
  services/markdown/worker-configuration.d.ts
  services/markdown/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

set up sentry for markdown
  pnpm-lock.yaml
  services/markdown/package.json
  services/markdown/src/index.ts
  services/markdown/tsconfig.json
  services/markdown/worker-configuration.d.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

upload sourcemaps
  pnpm-lock.yaml
  services/markdown/wrangler.toml
Due: none

consistent format in wrangler.toml
  services/markdown/wrangler.toml
Due: none

upload source maps
  apps/web/wrangler.toml
  packages/rate-limiter/wrangler.toml
Due: none

remove '.only' test modifier
  services/markdown/src/code/themes.test.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix(web): pin @sveltejs/adapter-cloudflare to v6.0.1
  pnpm-workspace.yaml
Due: none

ensure Carta markdown editor is not included in server side bundles
  apps/web/package.json
  apps/web/src/lib/components/note-form.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/+page.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
  apps/web/src/routes/(protected)/notes/new/+page.server.ts
  apps/web/src/routes/(protected)/notes/new/+page.svelte
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

Path conditions:
  eslint --flag unstable_config_lookup_from_file --fix: any of: *.{js,mjs,cjs,ts,mts,cts,svelte}
  prettier --write -u: any of: *.{js,mjs,cjs,ts,mts,cts,svelte}
  sort-package-json: any of: package.json
  prettier --write: any of: package.json
