Repository cpsoinos/ficus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

.lintstagedrc:

{
	"*.{js,mjs,cjs,ts,mts,cts,svelte}": [
		"eslint --flag unstable_config_lookup_from_file --fix",
		"prettier --write -u"
	],
	"!(*.{js,mjs,cjs,ts,mts,cts,svelte}|package.json)": "prettier --write -u",
	"package.json": ["sort-package-json", "prettier --write"]
}

fix(ci): Fix sentry workflow by setting workdir (#46)
  .github/workflows/publish-worker.yml
  packages/rate-limiter/wrangler.toml
  services/markdown/wrangler.toml
  services/notes/wrangler.toml
Due: none

create queue and kv
  services/notes/worker-configuration.d.ts
  services/notes/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat(notes): use queues and kv for autosaving a note
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+server.ts
  services/notes/src/index.ts
  services/notes/src/lib/notes/app.ts
  services/notes/src/lib/notes/autosaveNote.ts
  services/notes/src/lib/queueConsumer.ts
  services/notes/worker-configuration.d.ts
  services/notes/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

--wip-- [skip ci]
  services/notes/src/lib/notes/findNoteById.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

store note content in r2 instead of d1
  services/notes/src/db/schema/notes.ts
  services/notes/src/lib/notes/app.ts
  services/notes/src/lib/notes/autosaveNote.ts
  services/notes/src/lib/notes/createNote.ts
  services/notes/src/lib/notes/deleteNote.ts
  services/notes/src/lib/notes/findNoteById.ts
  services/notes/src/lib/notes/types.ts
  services/notes/src/lib/notes/updateNote.ts
  services/notes/src/lib/notes/utils.ts
  services/notes/src/lib/queueConsumer.ts
  services/notes/worker-configuration.d.ts
  services/notes/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

use regular update route instead of autosave
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

generate migration to drop 'content' column from 'notes' table
  services/notes/migrations/0002_free_pride.sql
  services/notes/migrations/meta/0002_snapshot.json
  services/notes/migrations/meta/_journal.json
Due: none

refactor(notes): update note retrieval to use new endpoint and include query parameters
  apps/web/src/routes/(protected)/+layout.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  services/notes/src/index.ts
  services/notes/src/lib/notes/app.ts
  services/notes/src/lib/notes/findByIdWithAttachments.ts
  services/notes/src/lib/notes/findNoteById.ts
  services/notes/src/lib/notes/types.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

refactor(notes): update note retrieval to use consistent endpoint structure and improve query handling
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.server.ts
  services/notes/src/lib/notes/app.ts
  services/notes/src/lib/notes/types.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

remove commented attachments binding
  services/notes/wrangler.toml
Due: none

remove unused KV binding
  services/notes/worker-configuration.d.ts
  services/notes/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat: store note content in R2 (#48)
  apps/web/src/routes/(protected)/+layout.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+server.ts
  services/notes/migrations/0002_free_pride.sql
  services/notes/migrations/meta/0002_snapshot.json
  services/notes/migrations/meta/_journal.json
  services/notes/src/db/schema/notes.ts
  services/notes/src/index.ts
  services/notes/src/lib/notes/app.ts
  services/notes/src/lib/notes/createNote.ts
  services/notes/src/lib/notes/deleteNote.ts
  services/notes/src/lib/notes/findByIdWithAttachments.ts
  services/notes/src/lib/notes/findNoteById.ts
  services/notes/src/lib/notes/types.ts
  services/notes/src/lib/notes/updateNote.ts
  services/notes/src/lib/notes/utils.ts
  services/notes/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

replace entrypoints with Hono rpc app routers
  apps/web/src/lib/components/note-form.svelte
  apps/web/src/lib/server/attachments/client.ts
  apps/web/src/lib/server/clients.ts
  apps/web/src/lib/server/folders/client.ts
  apps/web/src/lib/server/notes/client.ts
  apps/web/src/lib/uploadFile.ts
  apps/web/src/routes/(protected)/+layout.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/+server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/[attachmentId]/+server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+server.ts
  apps/web/src/routes/(protected)/notes/new/+page.server.ts
  apps/web/src/worker-configuration.d.ts
  apps/web/wrangler.toml
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/storage-paths.ts
  services/notes/src/index.ts
  services/notes/src/lib/attachments/app.ts
  services/notes/src/lib/attachments/uploadAttachment.ts
  services/notes/src/lib/folders/entrypoint.ts
  services/notes/src/lib/notes/app.ts
  services/notes/src/lib/notes/createNote.ts
  services/notes/src/lib/notes/deleteNote.ts
  services/notes/src/lib/notes/entrypoint.ts
  services/notes/src/lib/notes/findNoteById.ts
  services/notes/src/lib/notes/types.ts
  services/notes/src/lib/notes/updateNote.ts
  services/notes/src/lib/tags/app.ts
  services/notes/src/lib/tags/listTags.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

delete unused entrypoint files
  services/notes/src/lib/attachments/entrypoint.ts
  services/notes/src/lib/base-model.ts
  services/notes/src/lib/tags-entrypoint.ts
  services/notes/src/lib/worker-entrypoint-with-bindings.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

cleanup
  apps/web/src/lib/uploadFile.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat: Simplify notes worker by removing entrypoints in favor of hono routers (#49)
  apps/web/src/lib/components/note-form.svelte
  apps/web/src/lib/server/attachments/client.ts
  apps/web/src/lib/server/clients.ts
  apps/web/src/lib/server/folders/client.ts
  apps/web/src/lib/server/notes/client.ts
  apps/web/src/lib/uploadFile.ts
  apps/web/src/routes/(protected)/+layout.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/+server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/[attachmentId]/+server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+server.ts
  apps/web/src/routes/(protected)/notes/new/+page.server.ts
  apps/web/src/worker-configuration.d.ts
  apps/web/wrangler.toml
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/storage-paths.ts
  services/notes/src/index.ts
  services/notes/src/lib/attachments/app.ts
  services/notes/src/lib/attachments/entrypoint.ts
  services/notes/src/lib/attachments/uploadAttachment.ts
  services/notes/src/lib/base-model.ts
  services/notes/src/lib/folders/entrypoint.ts
  services/notes/src/lib/notes/app.ts
  services/notes/src/lib/notes/createNote.ts
  services/notes/src/lib/notes/deleteNote.ts
  services/notes/src/lib/notes/entrypoint.ts
  services/notes/src/lib/notes/findNoteById.ts
  services/notes/src/lib/notes/types.ts
  services/notes/src/lib/notes/updateNote.ts
  services/notes/src/lib/tags-entrypoint.ts
  services/notes/src/lib/tags/app.ts
  services/notes/src/lib/tags/listTags.ts
  services/notes/src/lib/worker-entrypoint-with-bindings.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

wrap notes with sentry
  pnpm-lock.yaml
  services/markdown/worker-configuration.d.ts
  services/notes/package.json
  services/notes/src/index.ts
  services/notes/tsconfig.json
  services/notes/worker-configuration.d.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

instrument d1 with sentry
  services/notes/src/db/index.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat(notes): wrap notes service with sentry (#50)
  pnpm-lock.yaml
  services/markdown/worker-configuration.d.ts
  services/notes/package.json
  services/notes/src/db/index.ts
  services/notes/src/index.ts
  services/notes/tsconfig.json
  services/notes/worker-configuration.d.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

fix(web): do not SSR pages with carta md form
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
  apps/web/src/routes/(protected)/notes/new/+page.server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix(web): generate sourcemaps with vite build
  apps/web/vite.config.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix(web): do not SSR pages with carta md form & generate server-side sourcemaps with vite (#51)
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
  apps/web/src/routes/(protected)/notes/new/+page.server.ts
  apps/web/vite.config.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

update pnpm to 10.7.1
  package.json
Due: sort-package-json, prettier --write

set lang='ts' on module script
  apps/web/src/lib/components/app-header.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

upgrade wrangler to 4.7.2
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

remove remark-frontmatter
  apps/web/package.json
  apps/web/src/lib/components/note-form.svelte
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/markdown/package.json
  services/markdown/src/render.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

fix(web): do not SSR pages with carta markdown form (#52)
  apps/web/package.json
  apps/web/src/lib/components/app-header.svelte
  apps/web/src/lib/components/note-form.svelte
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/markdown/package.json
  services/markdown/src/render.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

add turborepo
  .gitignore
  package.json
  pnpm-lock.yaml
  turbo.json
Due: sort-package-json, prettier --write

configure turbo tasks
  .github/workflows/ci.yml
  .github/workflows/publish-worker.yml
  apps/web/package.json
  apps/web/turbo.json
  package.json
  packages/rate-limiter/ambient.d.ts
  packages/rate-limiter/tsconfig.json
  pnpm-workspace.yaml
  turbo.json
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

add passThroughEnv config for turbo
  apps/web/drizzle.config.ts
  apps/web/turbo.json
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

chore: Turborepo (#53)
  .github/workflows/ci.yml
  .github/workflows/publish-worker.yml
  .gitignore
  apps/web/drizzle.config.ts
  apps/web/package.json
  apps/web/turbo.json
  package.json
  packages/rate-limiter/ambient.d.ts
  packages/rate-limiter/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

upgrade carta versions
  apps/web/src/lib/components/note-form.svelte
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

--wip-- [skip ci]
  apps/web/src/lib/components/note-form.svelte
  apps/web/vite.config.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

update deps, move some deps from catalog to apps/web package.json
  apps/web/package.json
  apps/web/src/lib/components/note-form.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

move tailwind deps out of pnpm-workspace catalog
  apps/web/package.json
  apps/web/src/app.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json, prettier --write

add .gitignore for web
  apps/web/.gitignore
Due: none

fix: missing semicolon
  apps/web/src/app.css
Due: none

remove unnecessary font family
  apps/web/tailwind.config.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

upgrade tailwind to v4
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app.css
  apps/web/src/lib/components/ui/button/button.svelte
  apps/web/src/lib/components/ui/card/card.svelte
  apps/web/src/lib/components/ui/dropdown-menu/dropdown-menu-checkbox-item.svelte
  apps/web/src/lib/components/ui/dropdown-menu/dropdown-menu-content.svelte
  apps/web/src/lib/components/ui/dropdown-menu/dropdown-menu-item.svelte
  apps/web/src/lib/components/ui/dropdown-menu/dropdown-menu-radio-item.svelte
  apps/web/src/lib/components/ui/dropdown-menu/dropdown-menu-sub-content.svelte
  apps/web/src/lib/components/ui/dropdown-menu/dropdown-menu-sub-trigger.svelte
  apps/web/src/lib/components/ui/input/input.svelte
  apps/web/src/lib/components/ui/sheet/sheet-content.svelte
  apps/web/src/lib/components/ui/sidebar/sidebar-group-action.svelte
  apps/web/src/lib/components/ui/sidebar/sidebar-group-label.svelte
  apps/web/src/lib/components/ui/sidebar/sidebar-inset.svelte
  apps/web/src/lib/components/ui/sidebar/sidebar-menu-action.svelte
  apps/web/src/lib/components/ui/sidebar/sidebar-menu-button.svelte
  apps/web/src/lib/components/ui/sidebar/sidebar-menu-skeleton.svelte
  apps/web/src/lib/components/ui/sidebar/sidebar-menu-sub-button.svelte
  apps/web/src/lib/components/ui/sidebar/sidebar-provider.svelte
  apps/web/src/lib/components/ui/sidebar/sidebar-rail.svelte
  apps/web/src/lib/components/ui/sidebar/sidebar.svelte
  apps/web/src/worker-configuration.d.ts
  apps/web/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

tailwind plugin config
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app.css
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write
