Repository cpsoinos/ficus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

.lintstagedrc:

{
	"*.{js,mjs,cjs,ts,mts,cts,svelte}": [
		"eslint --flag unstable_config_lookup_from_file --fix",
		"prettier --write -u"
	],
	"!(*.{js,mjs,cjs,ts,mts,cts,svelte}|package.json)": "prettier --write -u",
	"package.json": ["sort-package-json", "prettier --write"]
}

remove custom styles for markdown preview and add padding
  apps/web/src/app.css
  apps/web/src/lib/components/note-form.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

use carta for markdown editor
  apps/web/package.json
  apps/web/src/lib/components/note-form.svelte
  apps/web/src/lib/components/ui/tabs/index.ts
  apps/web/src/lib/components/ui/tabs/tabs-content.svelte
  apps/web/src/lib/components/ui/tabs/tabs-list.svelte
  apps/web/src/lib/components/ui/tabs/tabs-trigger.svelte
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

don't use vite-plugin-using -- it's no good
  apps/web/package.json
  apps/web/src/hooks.server.ts
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

begin setting up creating/saving a new note
  apps/web/src/lib/components/note-form.svelte
  apps/web/src/lib/file-upload.ts
  apps/web/src/routes/(protected)/notes/+server.ts
  apps/web/src/routes/(protected)/notes/new/+page.server.ts
  apps/web/src/routes/(protected)/notes/new/+page.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

begin refactoring notes entrypoint to also expose fetch handlers
  apps/web/package.json
  apps/web/src/routes/(protected)/+layout.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/[attachmentId]/+server.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/notes/src/index.ts
  services/notes/src/lib/notes-entrypoint.ts
  services/notes/src/lib/notes/app.ts
  services/notes/src/lib/notes/entrypoint.ts
  services/notes/src/lib/notes/findByIdWithAttachments.ts
  services/notes/src/lib/notes/listNotes.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

remove counter
  services/notes/src/lib/notes/entrypoint.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

update deps
  pnpm-lock.yaml
Due: none

update pnpm
  package.json
Due: sort-package-json, prettier --write

remove unnecessary devShim, since cf adapter implements getPlatformProxy
  apps/web/package.json
  apps/web/src/hooks.server.ts
  apps/web/svelte.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

update @typescript-eslint/no-unused-vars rule
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/base.mjs
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

create crud fetch routes in notes entrypoint
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  services/notes/src/lib/notes/app.ts
  services/notes/src/lib/notes/createNote.ts
  services/notes/src/lib/notes/deleteNote.ts
  services/notes/src/lib/notes/entrypoint.ts
  services/notes/src/lib/notes/updateNote.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

use hono rpc for notes
  apps/web/package.json
  apps/web/src/lib/server/notes/client.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  packages/eslint-config/package.json
  packages/rate-limiter/package.json
  packages/rate-limiter/src/ExpiringTokenBucket.ts
  packages/rate-limiter/src/RefillingTokenBucket.ts
  packages/rate-limiter/src/Throttler.ts
  packages/rate-limiter/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/notes/package.json
  services/notes/src/lib/attachments-entrypoint.ts
  services/notes/src/lib/notes/app.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

migrate more workers rpc to hono rpc
  apps/web/src/hooks.server.ts
  apps/web/src/lib/server/attachments/client.ts
  apps/web/src/lib/server/folders/client.ts
  apps/web/src/lib/server/notes/client.ts
  apps/web/src/routes/(protected)/+layout.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/[attachmentId]/+server.ts
  pnpm-lock.yaml
  services/notes/package.json
  services/notes/src/db/schema/notes.ts
  services/notes/src/index.ts
  services/notes/src/lib/attachments-entrypoint.ts
  services/notes/src/lib/attachments/app.ts
  services/notes/src/lib/attachments/downloadAttachment.ts
  services/notes/src/lib/attachments/entrypoint.ts
  services/notes/src/lib/attachments/uploadAttachment.ts
  services/notes/src/lib/folders-entrypoint.ts
  services/notes/src/lib/folders/app.ts
  services/notes/src/lib/folders/entrypoint.ts
  services/notes/src/lib/folders/listFolders.ts
  services/notes/src/lib/notes/app.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

move drizzle-zod to catalog
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/notes/package.json
Due: sort-package-json, prettier --write

wip: create notes schema
  apps/web/src/routes/(protected)/notes/new/+page.server.ts
  apps/web/src/routes/(protected)/notes/new/+page.svelte
  services/notes/src/db/schema/notes.ts
  services/notes/src/lib/notes/app.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

patch drizzle-zod to correctly work with type instantiation
  apps/web/src/lib/components/note-form.svelte
  apps/web/src/routes/(protected)/notes/new/+page.server.ts
  package.json
  patches/drizzle-zod.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/notes/src/lib/notes/app.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

autosave notes
  apps/web/package.json
  apps/web/src/lib/components/note-form.svelte
  apps/web/src/lib/uploadFile.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+server.ts
  apps/web/src/routes/(protected)/notes/new/+page.svelte
  apps/web/src/routes/(protected)/notes/new/+page.ts
  packages/common/src/db/timestamp-columns.ts
  pnpm-lock.yaml
  services/notes/src/lib/notes/app.ts
  services/notes/src/lib/notes/findByIdWithAttachments.ts
  services/notes/src/lib/notes/updateNote.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

handle attaching images to notes
  apps/web/src/lib/components/note-form.svelte
  apps/web/src/lib/uploadFile.ts
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/+server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/[attachmentId]/+server.ts
  apps/web/src/routes/(protected)/notes/new/+page.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

prerender markdown on the server
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

add 'new note' button to sidebar
  apps/web/src/lib/components/app-sidebar.svelte
  apps/web/src/lib/components/search-form.svelte
  apps/web/src/lib/icons.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

add temp back button to note editing page
  apps/web/src/lib/icons.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

add ability to delete a note. TODO: delete attachment files from r2
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
  services/notes/src/lib/notes/app.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

cleanup
  services/notes/src/lib/notes/app.ts
  services/notes/src/lib/notes/entrypoint.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

ensure authorization
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+server.ts
  services/notes/src/lib/notes/app.ts
  services/notes/src/lib/notes/deleteNote.ts
  services/notes/src/lib/notes/updateNote.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

delete unused file
  apps/web/src/routes/(protected)/notes/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

chore: update wrangler & pnpm and set preview script
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json, prettier --write

configure remark
  apps/web/package.json
  apps/web/src/lib/components/note-form.client.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
  apps/web/src/routes/(protected)/notes/new/+page.svelte
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

remove dompurify (keep isomorphic-dompurify)
  apps/web/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

cleanup
  apps/web/src/lib/components/note-form.client.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/+page.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

use catalog for remark/rehype
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json, prettier --write

fix(web): use remark for markdown SSR (#27)
  apps/web/package.json
  apps/web/src/lib/components/note-form.client.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
  apps/web/src/routes/(protected)/notes/new/+page.svelte
  apps/web/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

show toast upon autosave
  apps/web/package.json
  apps/web/src/lib/components/note-form.client.svelte
  apps/web/src/lib/components/ui/sonner/index.ts
  apps/web/src/lib/components/ui/sonner/sonner.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
  apps/web/src/routes/+layout.svelte
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

confirm deletion with alert dialog
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-action.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-cancel.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-content.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-description.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-footer.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-header.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-overlay.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-title.svelte
  apps/web/src/lib/components/ui/alert-dialog/index.ts
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat(web): show toast and confirmation modals when saving/deleting notes (#28)
  apps/web/package.json
  apps/web/src/lib/components/note-form.client.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-action.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-cancel.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-content.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-description.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-footer.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-header.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-overlay.svelte
  apps/web/src/lib/components/ui/alert-dialog/alert-dialog-title.svelte
  apps/web/src/lib/components/ui/alert-dialog/index.ts
  apps/web/src/lib/components/ui/sonner/index.ts
  apps/web/src/lib/components/ui/sonner/sonner.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
  apps/web/src/routes/+layout.svelte
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

cleanup
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

highlight active link in sidebar
  apps/web/src/lib/components/app-sidebar.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

notes breadcrumbs
  apps/web/src/lib/components/app-header.svelte
  apps/web/src/lib/components/app-sidebar.svelte
  apps/web/src/routes/(protected)/+layout.server.ts
  apps/web/src/routes/(protected)/+layout.svelte
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

responsive breadcrumbs
  apps/web/package.json
  apps/web/src/lib/components/app-header.svelte
  apps/web/src/lib/components/ui/drawer/drawer-content.svelte
  apps/web/src/lib/components/ui/drawer/drawer-description.svelte
  apps/web/src/lib/components/ui/drawer/drawer-footer.svelte
  apps/web/src/lib/components/ui/drawer/drawer-header.svelte
  apps/web/src/lib/components/ui/drawer/drawer-nested.svelte
  apps/web/src/lib/components/ui/drawer/drawer-overlay.svelte
  apps/web/src/lib/components/ui/drawer/drawer-title.svelte
  apps/web/src/lib/components/ui/drawer/drawer.svelte
  apps/web/src/lib/components/ui/drawer/index.ts
  apps/web/src/routes/(protected)/+layout.svelte
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

feat(web): breadcrumbs (#29)
  apps/web/package.json
  apps/web/src/lib/components/app-header.svelte
  apps/web/src/lib/components/app-sidebar.svelte
  apps/web/src/lib/components/ui/drawer/drawer-content.svelte
  apps/web/src/lib/components/ui/drawer/drawer-description.svelte
  apps/web/src/lib/components/ui/drawer/drawer-footer.svelte
  apps/web/src/lib/components/ui/drawer/drawer-header.svelte
  apps/web/src/lib/components/ui/drawer/drawer-nested.svelte
  apps/web/src/lib/components/ui/drawer/drawer-overlay.svelte
  apps/web/src/lib/components/ui/drawer/drawer-title.svelte
  apps/web/src/lib/components/ui/drawer/drawer.svelte
  apps/web/src/lib/components/ui/drawer/index.ts
  apps/web/src/routes/(protected)/+layout.server.ts
  apps/web/src/routes/(protected)/+layout.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write
