Repository cpsoinos/ficus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

.lintstagedrc:

{
	"*.{js,mjs,cjs,ts,mts,cts,svelte}": [
		"eslint --flag unstable_config_lookup_from_file --fix",
		"prettier --write -u"
	],
	"!(*.{js,mjs,cjs,ts,mts,cts,svelte}|package.json)": "prettier --write -u",
	"package.json": ["sort-package-json", "prettier --write"]
}

move auth-related files into auth subfolder
  apps/web/src/hooks.server.ts
  apps/web/src/lib/server/auth/2fa.ts
  apps/web/src/lib/server/auth/email-verification.ts
  apps/web/src/lib/server/auth/email.ts
  apps/web/src/lib/server/auth/encryption.ts
  apps/web/src/lib/server/auth/oauth.ts
  apps/web/src/lib/server/auth/oauth.types.ts
  apps/web/src/lib/server/auth/password-reset.ts
  apps/web/src/lib/server/auth/password.ts
  apps/web/src/lib/server/auth/session.ts
  apps/web/src/lib/server/auth/user.ts
  apps/web/src/lib/server/auth/utils.ts
  apps/web/src/lib/server/db/schema.ts
  apps/web/src/lib/server/rate-limit/ExpiringTokenBucketProxy.ts
  apps/web/src/lib/server/rate-limit/RefillingTokenBucketProxy.ts
  apps/web/src/lib/server/rate-limit/ThrottlerProxy.ts
  apps/web/src/routes/(auth)/2fa/+page.server.ts
  apps/web/src/routes/(auth)/2fa/reset/+page.server.ts
  apps/web/src/routes/(auth)/2fa/setup/+page.server.ts
  apps/web/src/routes/(auth)/forgot-password/+page.server.ts
  apps/web/src/routes/(auth)/login/+page.server.ts
  apps/web/src/routes/(auth)/oauth/github/+server.ts
  apps/web/src/routes/(auth)/oauth/github/callback/+server.ts
  apps/web/src/routes/(auth)/recovery-code/+page.server.ts
  apps/web/src/routes/(auth)/register/+page.server.ts
  apps/web/src/routes/(auth)/reset-password/+page.server.ts
  apps/web/src/routes/(auth)/reset-password/2fa/+page.server.ts
  apps/web/src/routes/(auth)/reset-password/verify-email/+page.server.ts
  apps/web/src/routes/(auth)/verify-email/+page.server.ts
  apps/web/src/routes/(protected)/+page.server.ts
  apps/web/src/routes/(protected)/settings/+page.server.ts
  apps/web/src/worker-configuration.d.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

add service-documents and bare-bones new note page
  apps/web/src/app.d.ts
  apps/web/src/routes/(protected)/new-note/+page.svelte
  apps/web/src/routes/(protected)/new-note/+server.ts
  apps/web/wrangler.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/service-documents/.gitignore
  services/service-documents/README.md
  services/service-documents/package.json
  services/service-documents/src/index.ts
  services/service-documents/tsconfig.json
  services/service-documents/worker-configuration.d.ts
  services/service-documents/wrangler.jsonc
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

convert wrangler.toml files to wrangler.jsonc
  apps/web/wrangler.jsonc
  apps/web/wrangler.toml
  packages/argon2/wrangler.jsonc
  packages/argon2/wrangler.toml
  packages/rate-limiter/wrangler.jsonc
  packages/rate-limiter/wrangler.toml
Due: none

use toml format for wrangler
  services/service-documents/wrangler.jsonc
  services/service-documents/wrangler.toml
Due: none

update wrangler
  pnpm-lock.yaml
Due: none

Revert "convert wrangler.toml files to wrangler.jsonc"
  apps/web/wrangler.jsonc
  apps/web/wrangler.toml
  packages/argon2/wrangler.jsonc
  packages/argon2/wrangler.toml
  packages/rate-limiter/wrangler.jsonc
  packages/rate-limiter/wrangler.toml
Due: none

setup eslint in notes service
  apps/web/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/service-documents/eslint.config.mjs
  services/service-documents/package.json
  services/service-documents/src/index.ts
  services/service-documents/tsconfig.json
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

setup service binding for SERVICE_DOCUMENTS in web
  apps/web/src/routes/(protected)/new-note/+server.ts
  apps/web/src/worker-configuration.d.ts
  apps/web/wrangler.toml
  package.json
  packages/argon2/wrangler.toml
  packages/rate-limiter/wrangler.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/service-documents/src/index.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

use /notes and /notes/new routes
  apps/web/src/routes/(protected)/notes/+server.ts
  apps/web/src/routes/(protected)/notes/new/+page.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

ci(web): ad .nvmrc to apps/web directory for cf pages builds
  apps/web/.nvmrc
Due: none

fix(web): run db migrations remotely
  apps/web/drizzle.config.ts
  apps/web/migrations/0002_cloudy_barracuda.sql
  apps/web/migrations/meta/0002_snapshot.json
  apps/web/package.json
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

test(web): temporarily log token so i can debug gh auth
  apps/web/src/routes/(auth)/oauth/github/callback/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix(web): remove token logging, and store token in local variable
  apps/web/src/routes/(auth)/oauth/github/callback/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix(web): try using fetch instead of ofetch
  apps/web/src/routes/(auth)/oauth/github/callback/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

logging
  apps/web/src/routes/(auth)/oauth/github/callback/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

additional logging
  apps/web/src/routes/(auth)/oauth/github/callback/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

try using event.fetch
  apps/web/src/routes/(auth)/oauth/github/callback/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

use resp.text and log
  apps/web/src/routes/(auth)/oauth/github/callback/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix(web): revert gh oauth debugging changes and set user-agent header on gh api requests
  apps/web/src/routes/(auth)/oauth/github/callback/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

split schema into multiple files and rename tables to plural
  apps/web/migrations/0002_flowery_meteorite.sql
  apps/web/migrations/meta/0002_snapshot.json
  apps/web/migrations/meta/_journal.json
  apps/web/package.json
  apps/web/src/lib/server/2fa.ts
  apps/web/src/lib/server/db/schema.ts
  apps/web/src/lib/server/db/schema/emailVerificationRequests.ts
  apps/web/src/lib/server/db/schema/oAuthAccounts.ts
  apps/web/src/lib/server/db/schema/passwordResetSessions.ts
  apps/web/src/lib/server/db/schema/sessions.ts
  apps/web/src/lib/server/db/schema/users.ts
  apps/web/src/lib/server/email-verification.ts
  apps/web/src/lib/server/email.ts
  apps/web/src/lib/server/oauth.ts
  apps/web/src/lib/server/password-reset.ts
  apps/web/src/lib/server/session.ts
  apps/web/src/lib/server/user.ts
  apps/web/src/routes/(auth)/oauth/github/callback/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

refactor(web): split schema into multiple files and rename tables to plural (#17)
  apps/web/migrations/0002_flowery_meteorite.sql
  apps/web/migrations/meta/0002_snapshot.json
  apps/web/migrations/meta/_journal.json
  apps/web/package.json
  apps/web/src/lib/server/2fa.ts
  apps/web/src/lib/server/db/schema.ts
  apps/web/src/lib/server/db/schema/emailVerificationRequests.ts
  apps/web/src/lib/server/db/schema/oAuthAccounts.ts
  apps/web/src/lib/server/db/schema/passwordResetSessions.ts
  apps/web/src/lib/server/db/schema/sessions.ts
  apps/web/src/lib/server/db/schema/users.ts
  apps/web/src/lib/server/email-verification.ts
  apps/web/src/lib/server/email.ts
  apps/web/src/lib/server/oauth.ts
  apps/web/src/lib/server/password-reset.ts
  apps/web/src/lib/server/session.ts
  apps/web/src/lib/server/user.ts
  apps/web/src/routes/(auth)/oauth/github/callback/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

messy migrations to fix constraints
  apps/web/migrations/0003_faithful_thena.sql
  apps/web/migrations/0004_aspiring_warhawk.sql
  apps/web/migrations/0005_normal_ultimatum.sql
  apps/web/migrations/meta/0003_snapshot.json
  apps/web/migrations/meta/0004_snapshot.json
  apps/web/migrations/meta/0005_snapshot.json
  apps/web/migrations/meta/_journal.json
Due: none

fix(web): messy migrations to fix constraints (#18)
  apps/web/migrations/0003_faithful_thena.sql
  apps/web/migrations/0004_aspiring_warhawk.sql
  apps/web/migrations/0005_normal_ultimatum.sql
  apps/web/migrations/meta/0003_snapshot.json
  apps/web/migrations/meta/0004_snapshot.json
  apps/web/migrations/meta/0005_snapshot.json
  apps/web/migrations/meta/_journal.json
Due: none

add drizzle orm eslint plugin
  apps/web/eslint.config.js
  apps/web/package.json
  apps/web/src/lib/server/session.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

chore(web): add drizzle orm eslint plugin (#19)
  apps/web/eslint.config.js
  apps/web/package.json
  apps/web/src/lib/server/session.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

remove change to vscode config
  .vscode/settings.json
Due: none

remove unused dep
  apps/web/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

move packages to catalog
  apps/web/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json, prettier --write

delete old commented route protection in base load fn
  apps/web/src/routes/(protected)/+page.server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix leftover merge conflicts
  apps/web/src/lib/server/auth/password-reset.ts
  apps/web/src/routes/(auth)/oauth/github/callback/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

rename 'documents' to 'attachments'
  apps/web/src/routes/(protected)/notes/+server.ts
  apps/web/src/worker-configuration.d.ts
  apps/web/wrangler.toml
  pnpm-lock.yaml
  services/service-attachments/.gitignore
  services/service-attachments/README.md
  services/service-attachments/eslint.config.mjs
  services/service-attachments/package.json
  services/service-attachments/src/index.ts
  services/service-attachments/tsconfig.json
  services/service-attachments/worker-configuration.d.ts
  services/service-attachments/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

configure eslint
  pnpm-lock.yaml
  services/service-attachments/.lintstagedrc
  services/service-attachments/eslint.config.mjs
  services/service-attachments/package.json
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

--wip-- [skip ci]
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/tsconfig.json
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/perfectionist.ts
  packages/eslint-config/src/index.ts
  packages/eslint-config/src/plugins.ts
  packages/eslint-config/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

use mjs extensions and exports for eslint-config package
  packages/eslint-config/eslint.config.mjs
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/base.mjs
  packages/eslint-config/src/configs/drizzle.mjs
  packages/eslint-config/src/configs/import.mjs
  packages/eslint-config/src/configs/perfectionist.ts
  packages/eslint-config/src/configs/svelte.mjs
  packages/eslint-config/src/index.ts
  packages/eslint-config/src/plugins.mjs
  packages/eslint-config/src/plugins.ts
  packages/eslint-config/tsconfig.json
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

add type annotations via jsdoc comments
  packages/eslint-config/src/configs/base.mjs
  packages/eslint-config/src/configs/drizzle.mjs
  packages/eslint-config/src/configs/import.mjs
  packages/eslint-config/src/configs/svelte.mjs
  packages/eslint-config/tsconfig.json
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

use shared lint config
  apps/web/eslint.config.js
  apps/web/eslint.config.mjs
  apps/web/package.json
  eslint.config.mjs
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

refactor(eslint-config): simplify config exports and add Cloudflare support
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/cloudflare.mjs
  packages/eslint-config/src/configs/import.mjs
  packages/eslint-config/src/configs/svelte.mjs
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

chore(rate-limiter): configure linting
  packages/rate-limiter/ambient.d.ts
  packages/rate-limiter/eslint.config.mjs
  packages/rate-limiter/package.json
  packages/rate-limiter/src/ExpiringTokenBucket.spec.ts
  packages/rate-limiter/src/RefillingTokenBucket.spec.ts
  packages/rate-limiter/src/Throttler.spec.ts
  packages/rate-limiter/src/index.ts
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write
