Repository cpsoinos/ficus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

feat(eslint-config): add lint:fix script and type annotations
  packages/eslint-config/eslint.config.mjs
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/import.mjs
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

refactor(eslint-config): streamline ESLint configurations and remove unused dependencies
  apps/web/eslint.config.mjs
  services/service-attachments/eslint.config.mjs
  services/service-attachments/package.json
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

refactor(eslint-config): update package versions to use catalog references
  packages/eslint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json, prettier --write

remove test script from common
  packages/common/package.json
Due: sort-package-json, prettier --write

begin setting up drizzle
  services/service-attachments/src/db/schema.ts
  services/service-attachments/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat(upload): enhance file upload handling with user ID and error management
  apps/web/package.json
  apps/web/src/routes/(protected)/notes/+server.ts
  apps/web/src/routes/(protected)/notes/new/+page.svelte
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/service-attachments/src/index.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

disable workers_dev route
  services/service-attachments/wrangler.toml
Due: none

use Request contructor instead of cloning
  apps/web/src/routes/(protected)/notes/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

set headers explicitly
  apps/web/src/routes/(protected)/notes/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

use Headers literal
  apps/web/src/routes/(protected)/notes/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

cleanup
  apps/web/src/routes/(protected)/notes/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

rename service to notes
  apps/web/wrangler.toml
  services/notes/.gitignore
  services/notes/.lintstagedrc
  services/notes/README.md
  services/notes/eslint.config.mjs
  services/notes/package.json
  services/notes/src/db/schema.ts
  services/notes/src/index.ts
  services/notes/tsconfig.json
  services/notes/worker-configuration.d.ts
  services/notes/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

move timestamps to common package
  apps/web/package.json
  apps/web/src/lib/server/db/schema/oAuthAccounts.ts
  apps/web/src/lib/server/db/schema/users.ts
  packages/common/eslint.config.mjs
  packages/common/package.json
  packages/common/src/db/timestamp-columns.ts
  packages/common/src/index.ts
  packages/common/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

wip: begin setting up schema for notes
  packages/common/package.json
  packages/common/src/db/db-singleton.ts
  pnpm-lock.yaml
  services/notes/drizzle.config.ts
  services/notes/package.json
  services/notes/src/bindings.ts
  services/notes/src/db/index.ts
  services/notes/src/db/schema.ts
  services/notes/src/db/schema/attachments.ts
  services/notes/src/db/schema/folders.ts
  services/notes/src/db/schema/notes.ts
  services/notes/src/db/schema/notesTags.ts
  services/notes/src/db/schema/tags.ts
  services/notes/src/index.ts
  services/notes/worker-configuration.d.ts
  services/notes/wrangler.toml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

commit lockfile
  pnpm-lock.yaml
Due: none

define extendable base model entrypoint class
  packages/eslint-config/src/configs/import.mjs
  services/notes/src/db/bindings.ts
  services/notes/src/db/index.ts
  services/notes/src/db/schema/notesTags.ts
  services/notes/src/db/type-utils.ts
  services/notes/src/index.ts
  services/notes/src/lib/attachments-entrypoint.ts
  services/notes/src/lib/base-model.ts
  services/notes/src/lib/folders-entrypoint.ts
  services/notes/src/lib/notes-entrypoint.ts
  services/notes/src/lib/tags-entrypoint.ts
  services/notes/src/lib/worker-entrypoint-with-bindings.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

setup entrypoints and initial db migrations
  services/notes/drizzle.config.ts
  services/notes/migrations/0000_early_mordo.sql
  services/notes/migrations/meta/0000_snapshot.json
  services/notes/migrations/meta/_journal.json
  services/notes/package.json
  services/notes/src/db/schema/notes.ts
  services/notes/src/index.ts
  services/notes/src/lib/attachments-entrypoint.ts
  services/notes/src/lib/worker-entrypoint-with-bindings.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

fix subfolders relation
  services/notes/src/db/schema/folders.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

setup rpc binding types
  apps/web/package.json
  apps/web/src/worker-configuration.d.ts
  apps/web/wrangler.toml
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

--wip-- [skip ci]
  apps/web/src/routes/(protected)/notes/+server.ts
  apps/web/src/worker-configuration.d.ts
  apps/web/wrangler.toml
  services/notes/src/index.ts
  services/notes/src/lib/attachments-entrypoint.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

upgrade to pnpm 10.4.1
  package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

get uploads and rpcs working for attachments
  .nvmrc
  apps/web/src/routes/(protected)/notes/+server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/[attachmentId]/+server.ts
  apps/web/src/routes/(protected)/notes/new/+page.svelte
  apps/web/src/worker-configuration.d.ts
  apps/web/wrangler.toml
  packages/common/src/db/db-singleton.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/notes/package.json
  services/notes/src/db/index.ts
  services/notes/src/index.ts
  services/notes/src/lib/attachments-entrypoint.ts
  services/notes/src/lib/base-model.ts
  services/notes/src/lib/bindings.ts
  services/notes/src/lib/worker-entrypoint-with-bindings.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

use Env instead of CloudflareBindings
  apps/web/drizzle.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/notes/drizzle.config.ts
  services/notes/package.json
  services/notes/src/index.ts
  services/notes/src/lib/attachments-entrypoint.ts
  services/notes/src/lib/base-model.ts
  services/notes/src/lib/bindings.ts
  services/notes/src/lib/folders-entrypoint.ts
  services/notes/src/lib/notes-entrypoint.ts
  services/notes/src/lib/tags-entrypoint.ts
  services/notes/src/lib/worker-entrypoint-with-bindings.ts
  services/notes/worker-configuration.d.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

use op cli to load secrets
  services/notes/drizzle.config.ts
  services/notes/package.json
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

feat(notes): better typing applied to base model
  services/notes/src/db/type-utils.ts
  services/notes/src/lib/attachments-entrypoint.ts
  services/notes/src/lib/base-model.ts
  services/notes/src/lib/folders-entrypoint.ts
  services/notes/src/lib/notes-entrypoint.ts
  services/notes/src/lib/tags-entrypoint.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

use Service type instead of Fetcher
  apps/web/src/worker-configuration.d.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat(notes): better typing applied to base model (#23)
  apps/web/src/worker-configuration.d.ts
  services/notes/src/db/type-utils.ts
  services/notes/src/lib/attachments-entrypoint.ts
  services/notes/src/lib/base-model.ts
  services/notes/src/lib/folders-entrypoint.ts
  services/notes/src/lib/notes-entrypoint.ts
  services/notes/src/lib/tags-entrypoint.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

chore(web): cleanup wrangler.toml -- remove test r2 binding, commented sections
  apps/web/wrangler.toml
Due: none

remove r2 key from Env
  apps/web/src/worker-configuration.d.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

use correct node version
  apps/web/.nvmrc
Due: none

ensure typescript is a dev dep
  pnpm-lock.yaml
  services/notes/package.json
Due: sort-package-json, prettier --write

ci: skip type-checking for now
  .github/workflows/ci.yml
Due: none

chore(web): cleanup bindings (#24)
  .github/workflows/ci.yml
  apps/web/.nvmrc
  apps/web/src/worker-configuration.d.ts
  apps/web/wrangler.toml
  pnpm-lock.yaml
  services/notes/package.json
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

feat(notes): implement attachment handling and retrieval
  apps/web/src/routes/(protected)/+layout.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/[attachmentId]/+server.ts
  services/notes/migrations/0001_eminent_revanche.sql
  services/notes/migrations/meta/0001_snapshot.json
  services/notes/migrations/meta/_journal.json
  services/notes/src/db/schema/attachments.ts
  services/notes/src/db/schema/notes.ts
  services/notes/src/lib/attachments-entrypoint.ts
  services/notes/src/lib/base-model.ts
  services/notes/src/lib/folders-entrypoint.ts
  services/notes/src/lib/notes-entrypoint.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

cleanup
  apps/web/src/routes/(protected)/notes/[noteId]/+page.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat(notes): implement attachment handling and retrieval (#25)
  apps/web/src/routes/(protected)/+layout.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/[attachmentId]/+server.ts
  services/notes/migrations/0001_eminent_revanche.sql
  services/notes/migrations/meta/0001_snapshot.json
  services/notes/migrations/meta/_journal.json
  services/notes/src/db/schema/attachments.ts
  services/notes/src/db/schema/notes.ts
  services/notes/src/lib/attachments-entrypoint.ts
  services/notes/src/lib/base-model.ts
  services/notes/src/lib/folders-entrypoint.ts
  services/notes/src/lib/notes-entrypoint.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

begin setting up markdown editor
  apps/web/package.json
  apps/web/src/app.css
  apps/web/src/lib/components/note-form.svelte
  apps/web/src/routes/(protected)/notes/new/+page.svelte
  apps/web/src/routes/(protected)/notes/new/+page.ts
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

markdown note preview wip
  apps/web/package.json
  apps/web/src/lib/components/note-form.svelte
  apps/web/src/lib/components/ui/tabs/index.ts
  apps/web/src/lib/components/ui/tabs/tabs-content.svelte
  apps/web/src/lib/components/ui/tabs/tabs-list.svelte
  apps/web/src/lib/components/ui/tabs/tabs-trigger.svelte
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

use 'using' to automatically dispose of rpc stubs
  apps/web/package.json
  apps/web/src/hooks.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/+page.server.ts
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/[attachmentId]/+server.ts
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

Path conditions:
  eslint --flag unstable_config_lookup_from_file --fix: any of: *.{js,mjs,cjs,ts,mts,cts,svelte}
  prettier --write -u: any of: *.{js,mjs,cjs,ts,mts,cts,svelte}
  sort-package-json: any of: package.json
  prettier --write: any of: package.json
