Repository cpsoinos/ficus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

.lintstagedrc:

{
	"*.{js,mjs,cjs,ts,mts,cts,svelte}": [
		"eslint --flag unstable_config_lookup_from_file --fix",
		"prettier --write -u"
	],
	"!(*.{js,mjs,cjs,ts,mts,cts,svelte}|package.json)": "prettier --write -u",
	"package.json": ["sort-package-json", "prettier --write"]
}

fix(web): ensure Carta markdown editor is not included in server side bundles (#37)
  apps/web/package.json
  apps/web/src/lib/components/note-form.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/+page.svelte
  apps/web/src/routes/(protected)/notes/[noteId]/edit/+page.svelte
  apps/web/src/routes/(protected)/notes/new/+page.server.ts
  apps/web/src/routes/(protected)/notes/new/+page.svelte
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

revert @sveltejs/kit to 2.16.1 and @sveltejs/adapter-cloudflare to 5.0.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

trigger preview deployment
  apps/web/src/hooks.server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

bump @sveltejs/kit back up to 2.20.2
  apps/web/src/hooks.server.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

try bumping @sveltejs/adapter-cloudflare back to 6.0.0
  apps/web/src/hooks.server.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

try bumping @sveltejs/adapter-cloudflare to 6.0.1
  apps/web/src/hooks.server.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix(web): bump @sveltejs/adapter-cloudflare to 6.0.1 to resolve server dependency lookup issue (#39)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

move deps to catalog
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/markdown/package.json
Due: sort-package-json, prettier --write

Revert "try removing sentry sveltekit"
  apps/web/src/hooks.client.ts
  apps/web/src/hooks.server.ts
  apps/web/src/lib/server/db/index.ts
  apps/web/vite.config.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

try removing sentry sveltekit
  apps/web/src/hooks.client.ts
  apps/web/src/hooks.server.ts
  apps/web/src/lib/server/db/index.ts
  apps/web/vite.config.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

chore: move deps to catalog (#38)
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/markdown/package.json
Due: sort-package-json, prettier --write

use different themes in edit and preview modes
  apps/web/src/lib/components/note-form.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

use tailwind-typography for markdown styling
  apps/web/package.json
  apps/web/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

move markdown highlighter theme constants to @ficus/common
  apps/web/src/lib/components/note-form.svelte
  packages/common/package.json
  packages/common/src/markdown/constants.ts
  pnpm-lock.yaml
  services/markdown/package.json
  services/markdown/src/code/themes.test.ts
  services/markdown/src/code/themes.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

add comment explaining why we use 'markdown-body' for the typography class name
  apps/web/tailwind.config.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat(web): Markdown styling and code highlighting theming (#40)
  apps/web/package.json
  apps/web/src/lib/components/note-form.svelte
  apps/web/tailwind.config.ts
  packages/common/package.json
  packages/common/src/markdown/constants.ts
  pnpm-lock.yaml
  services/markdown/package.json
  services/markdown/src/code/themes.test.ts
  services/markdown/src/code/themes.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

add tail consumer to markdown service
  services/markdown/wrangler.toml
Due: none

set upload_sourcemaps to true for notes service
  services/notes/wrangler.toml
Due: none

add sentry:sourcemaps command to notes
  pnpm-lock.yaml
  services/notes/.gitignore
  services/notes/package.json
Due: sort-package-json, prettier --write

feat: try setting up sentry releases and sourcemaps (#41)
  pnpm-lock.yaml
  services/markdown/wrangler.toml
  services/notes/.gitignore
  services/notes/package.json
  services/notes/wrangler.toml
Due: sort-package-json, prettier --write

setup sentry-cli releases
  .gitignore
  packages/rate-limiter/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/markdown/package.json
  services/notes/package.json
Due: sort-package-json, prettier --write

feat: setup sentry-cli releases (#42)
  .gitignore
  packages/rate-limiter/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/markdown/package.json
  services/notes/package.json
Due: sort-package-json, prettier --write

fix: set VERSION properly in sentry release script
  packages/rate-limiter/package.json
  services/markdown/package.json
  services/notes/package.json
Due: sort-package-json, prettier --write

fix: set auth token using env var in sentry scripts
  packages/rate-limiter/package.json
  services/markdown/package.json
  services/notes/package.json
Due: sort-package-json, prettier --write

define a script file for running sourcemaps and releases
  services/notes/package.json
  services/notes/scripts/sentry-sourcemaps-release.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

fix(notes): define a script file for running sourcemaps and releases (#43)
  services/notes/package.json
  services/notes/scripts/sentry-sourcemaps-release.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

fix(notes): remove cli flags from sentry scripts, and use env vars instead
  services/notes/scripts/sentry-sourcemaps-release.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix(notes): add --ignore-missing flag to releases set-commits cmd
  services/notes/scripts/sentry-sourcemaps-release.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

chore(notes): rename build script and add logging
  services/notes/scripts/build-release-sourcemaps.ts
  services/notes/scripts/sentry-sourcemaps-release.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

Revert "chore(notes): rename build script and add logging"
  services/notes/scripts/build-release-sourcemaps.ts
  services/notes/scripts/sentry-sourcemaps-release.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

chore: add logging to sentry-sourcemaps-release script
  services/notes/scripts/sentry-sourcemaps-release.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

chore(ci): login to the sentry cli using env var
  services/notes/scripts/sentry-sourcemaps-release.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

Revert "chore(ci): login to the sentry cli using env var"
  services/notes/scripts/sentry-sourcemaps-release.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

setup CD with github actions
  .github/workflows/publish-worker.yml
  apps/web/src/hooks.client.ts
  apps/web/src/hooks.server.ts
  services/markdown/src/index.ts
  services/notes/scripts/sentry-sourcemaps-release.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

chore(ci): setup CD with github actions (#44)
  .github/workflows/publish-worker.yml
  apps/web/src/hooks.client.ts
  apps/web/src/hooks.server.ts
  services/markdown/src/index.ts
  services/notes/scripts/sentry-sourcemaps-release.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix syntax issue in creating matrix
  .github/workflows/publish-worker.yml
Due: none

comment out tail consumer workers
  packages/rate-limiter/wrangler.toml
  services/markdown/wrangler.toml
  services/notes/wrangler.toml
Due: none

fix(ci): Fix generating matrix in CI (#45)
  .github/workflows/publish-worker.yml
  packages/rate-limiter/wrangler.toml
  services/markdown/wrangler.toml
  services/notes/wrangler.toml
Due: none

set working directory in sentry step
  .github/workflows/publish-worker.yml
Due: none

delete commented-out tail workers
  packages/rate-limiter/wrangler.toml
  services/markdown/wrangler.toml
  services/notes/wrangler.toml
Due: none
