Repository cpsoinos/ficus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

replace tailwindcss-animate with tw-animate-css
  apps/web/package.json
  apps/web/src/app.css
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix invalid html nesting with li in li
  apps/web/src/lib/components/app-header.svelte
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

register tailwind container query plugin
  apps/web/src/app.css
Due: none

remove @tailwindcss/container-queries as it's no longer needed with tailwind v4
  apps/web/package.json
  apps/web/src/app.css
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

update bits-ui to stable ^1.3.19
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json, prettier --write

upgrade tailwind-merge to ^3.2.0 w/ tailwind 4.1 support
  apps/web/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

upgrade tailwind-variants to ^1.0.0 for tailwind v4 support
  apps/web/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

upgrade vaul-svelte to 1.0.0-next.7
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json, prettier --write

move svelte-specific deps out of catalog
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json, prettier --write

remove storybook
  apps/web/.storybook/main.js
  apps/web/.storybook/preview.js
  apps/web/package.json
  apps/web/src/stories/Button.stories.svelte
  apps/web/src/stories/Button.svelte
  apps/web/src/stories/Configure.mdx
  apps/web/src/stories/Header.stories.svelte
  apps/web/src/stories/Header.svelte
  apps/web/src/stories/Page.stories.svelte
  apps/web/src/stories/Page.svelte
  apps/web/src/stories/assets/accessibility.png
  apps/web/src/stories/assets/accessibility.svg
  apps/web/src/stories/assets/addon-library.png
  apps/web/src/stories/assets/assets.png
  apps/web/src/stories/assets/avif-test-image.avif
  apps/web/src/stories/assets/context.png
  apps/web/src/stories/assets/discord.svg
  apps/web/src/stories/assets/docs.png
  apps/web/src/stories/assets/figma-plugin.png
  apps/web/src/stories/assets/github.svg
  apps/web/src/stories/assets/share.png
  apps/web/src/stories/assets/styling.png
  apps/web/src/stories/assets/testing.png
  apps/web/src/stories/assets/theming.png
  apps/web/src/stories/assets/tutorials.svg
  apps/web/src/stories/assets/youtube.svg
  apps/web/src/stories/button.css
  apps/web/src/stories/header.css
  apps/web/src/stories/page.css
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

upgrade svelte, @sveltejs/kit, svelte-check
  apps/web/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

upgrade @sentry/sveltekit and @sentry/cloudflare to 9.12.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

upgrade vite to ^6.2.6
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

pass SENTRY_AUTH_TOKEN thru env for turbo
  apps/web/turbo.json
  turbo.json
Due: none

upgrade wrangler to 4.10.0 and approve workerd build for pnpm
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json, prettier --write

remove unused test file
  apps/web/e2e/demo.test.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix(web): bump rollup to ^4.39.0
  apps/web/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

fix(web): bump rollup to ^4.39.0 (#55)
  apps/web/package.json
  pnpm-lock.yaml
Due: sort-package-json, prettier --write

feat(web): set sentry user
  apps/web/src/hooks.client.ts
  apps/web/src/hooks.server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat(web): set sentry user (#56)
  apps/web/src/hooks.client.ts
  apps/web/src/hooks.server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix(web): create a new request to forward uploads instead of cloning bc headers are immutable in workers
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

apply 'duplex' option for dev mode bc vite dev uses node
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix(web): correctly forward upload requests to service binding (FICUS-WEB-4) (#57)
  apps/web/src/routes/(protected)/notes/[noteId]/attachments/+server.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

feat(web): configure as worker with static assets rather than pages
  apps/web/package.json
  apps/web/wrangler.toml
Due: sort-package-json, prettier --write

fix(web): remove --development flag from build script
  apps/web/package.json
Due: sort-package-json, prettier --write

ci: run scripts on affected packages only
  .github/workflows/ci.yml
  package.json
Due: sort-package-json, prettier --write

ci: use turbo for publish-worker workflow
  .github/workflows/ci.yml
  .github/workflows/publish-worker.yml
  apps/web/package.json
  apps/web/turbo.json
  services/notes/package.json
Due: sort-package-json, prettier --write

add env vars
  .github/workflows/publish-worker.yml
Due: none

set org and project in sentry sourceMapsUploadOptions
  apps/web/vite.config.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

set fetch depth
  .github/workflows/ci.yml
  .github/workflows/publish-worker.yml
Due: none

Revert "set fetch depth"
  .github/workflows/ci.yml
  .github/workflows/publish-worker.yml
Due: none

use fetch-depth: 2
  .github/workflows/ci.yml
  .github/workflows/publish-worker.yml
Due: none

set TURBO_SCM_BASE env var
  .github/workflows/ci.yml
  .github/workflows/publish-worker.yml
Due: none

feat(web): migrate from cloudflare pages to cloudflare workers with static assets (#58)
  .github/workflows/ci.yml
  .github/workflows/publish-worker.yml
  apps/web/package.json
  apps/web/turbo.json
  apps/web/vite.config.ts
  apps/web/wrangler.toml
  package.json
  services/notes/package.json
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u, sort-package-json, prettier --write

ci: use CLOUDFLARE_API_TOKEN in deployment
  .github/workflows/ci.yml
  .github/workflows/publish-worker.yml
  apps/web/.env.example
  apps/web/drizzle.config.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

ci: use CLOUDFLARE_API_TOKEN in deployment (#59)
  .github/workflows/ci.yml
  .github/workflows/publish-worker.yml
  apps/web/.env.example
  apps/web/drizzle.config.ts
Due: eslint --flag unstable_config_lookup_from_file --fix, prettier --write -u

fix: pass cf and sentry env vars thru turbo
  turbo.json
Due: none

fix: pass cf and sentry env vars thru turbo (#60)
  turbo.json
Due: none

fix: add missing sentry task definitions
  turbo.json
Due: none

Path conditions:
  eslint --flag unstable_config_lookup_from_file --fix: any of: *.{js,mjs,cjs,ts,mts,cts,svelte}
  prettier --write -u: any of: *.{js,mjs,cjs,ts,mts,cts,svelte}
  sort-package-json: any of: package.json
  prettier --write: any of: package.json
